# Python-specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.sqlite3

# Environment-specific
venv/
.env

# IDE-specific (Optional)
.vscode/
.idea/

# Byte-compiled / optimized / DLL files
*.pyc

# macOS files (Optional)
.DS_Store

# Logs and temporary files
*.log
*.tmp
